@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}

:root {
    --font: "Roboto", sans-serif;
}

.swiper_content {
    overflow: hidden;
}

/* /////////////////////////////////////////// */

#swiper {
    margin: 0 0 50px 0;
}

.swiper {
    max-width: 40000000px;
    /* min-height: 413px; */
    cursor: pointer;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: -1;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
    display: none;
}

.autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
    display: none;
}

/* /////////////////////////////////////////// */

.carucel_1 {
    padding: 0 20px;
    max-width: 1440px;
    margin: 50px auto;
}

.brend_car {
    margin-left: 2%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 25px 50px; */
    display: grid;
    place-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    height: 65px;
}

.brend_car img {
    width: 65px;
    object-fit: cover;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* //////////////////////////////////////////////////////////////////////////// */

.carucel_2 {
    max-width: 1440px;
    margin: 10px auto;
    padding: 0 20px;
    margin-bottom: 40px;
}

.carucel_2 h1 {
    color: #333;
    font-size: 20px;
    line-height: 28px;
    padding: 0 0 10px 0;
}

.brend_car2 {
    margin-left: 2%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    /* padding: 25px 50px; */
    display: grid;
    place-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    height: 65px;
}

.brend_car2 img {
    width: 65px;
    object-fit: cover;
}

/* //////////////////////////////////////////////////////////////////////// */

.mahsulotlar {
    max-width: 1440px;
    margin: 20px auto;
    padding: 0 30px;
}

.yangilar {
    width: 100%;
    min-height: 300px;
}

.yangilar h1 {
    padding: 20px 0;
    font-size: 24px;
    color: #333;
    font-family: var(--font);
}

.cards_line {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 25px;
}

.cards {
    width: 240px;
    height: 450px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: 10px;
    overflow: hidden;
    padding: 15px;
    margin: 5px 0;
    cursor: pointer;
}

.top_card {
    position: relative;
    width: 100%;
    height: 220px;
}

.top_card img {
    position: absolute;
    max-width: 200px;
    height: 210px;
    z-index: -1;
    top: 5px;
    left: 5px;
}

.heart_card {
    background: hsla(0, 0%, 100%, .8);
    border: 1px solid hsla(0, 0%, 93%, .5);
    border-radius: 50px;
    font-size: 19px;
    position: absolute;
    top: -3px;
    right: -3px;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    font-weight: 100;
}

.scale_card {
    font-weight: 100;
    background: hsla(0, 0%, 100%, .8);
    border: 1px solid hsla(0, 0%, 93%, .5);
    border-radius: 50px;
    font-size: 19px;
    position: absolute;
    top: 35px;
    right: -3px;
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
}

.baby06 {
    font-weight: 100;
    background: hsla(0, 0%, 100%, .8);
    border: 1px solid hsla(0, 0%, 93%, .5);
    border-radius: 50px;
    font-size: 19px;
    position: absolute;
    top: -8px;
    left: 1px;
    display: grid;
    place-items: center;
    background-color: crimson;
    color: #fff;
    letter-spacing: 3px;
    font-weight: 700;
    border-radius: 5px;
    font-size: 15px;
    width: 65px;
    height: 20px;
}

.low_card {
    width: 100%;
}

.low_card img {
    margin: 7px 0 5px 0;
}

.low_card p {
    color: #373F41;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}

.low_card h3 {
    background-color: #333;
    font-size: 14px;
    font-weight: 500;
    background: #F4F4F4;
    padding: 5px;
    max-width: 170px;
    border-radius: 20px;
    margin: 5px 0 5px 0;
}

.low_card h4 {
    margin: 5px 0;
    font-size: 14px;
    background: #FFF3CF;
    max-width: 130px;
    border-radius: 20px;
    padding: 5px;
    color: #333;
    font-weight: 420;
}

.low_card div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.low_card div h2 {
    color: #333;
    font-weight: 550;
    font-size: 18px;
}

.low_card div button {
    width: 50px;
    height: 40px;
    display: grid;
    place-items: center;
    border: 2px solid gold;
    font-size: 22px;
    background-color: transparent;
    outline: none;
    border-radius: 10px;
}

/* /////////////////////////////////////////////////////////////// */

.xitlar {
    width: 100%;
    min-height: 300px;
    margin: 50px 0;
}

.header_xit_text {
    font-size: 24px;
    color: #333;
    font-family: var(--font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0 0 0;
}

#xit_p {
    margin-bottom: 15px;
}

#barchasini {
    color: #336FEE;
    font-size: 15px;
    font-family: var(--font);
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
}

.faRight {
    font-size: 25px;
}

/* /////////////////////////////////// */

.carousel {
    max-width: 1440px;
    margin: 0 auto;
}


.box h3 {
    text-align: center;
}

.slick-slider {
    z-index: -1 inherit;
    overflow: visible;
}

.slick-slide {
    padding: 0 !important;
    z-index: -1 !important;
}

.slick-slide div {
    margin: 1px 10px;
}

.slick-next {
    right: 2px;
}

.slick-current {
    margin-left: -19px;
}

.slick-next::before,
.slick-prev::before {
    z-index: 100 !important;
    z-index: 1 !important;
    font-size: 30px;
    background: hsla(0, 0%, 100%, .8);
    border: 1px solid hsla(0, 0%, 93%, .5);
    border-radius: 50px;
    color: #999;
}

/* //////////////////////////////////////////////////////// */

.tuplamlar {
    width: 100%;
    min-height: 300px;
}

.maza_content {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 30px 0;
}

.maza_content button {
    font-size: 16px;
    font-family: var(--font);
    font-weight: 400;
    border: none;
    outline: none;
    background-color: transparent;
    border: 1px solid #999;
    border: 1px solid #ececec;
    border-radius: 50px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    margin: 0 16px 0 0;
    padding: 7px 16px;
    white-space: nowrap;
}

#btn_orange {
    background-color: #f9bc2e;
}

/* ////////////////////////////////////////////// */

.news {
    max-width: 1440px;
    min-height: 100px;
    margin: 40px 0;
}

.news .news_p {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.slider_div {
    max-width: 1440px;
    min-height: 300px;
    padding: 20px 0;
}

.box {
    border-radius: 20px;
    min-height: 100px;
    position: relative;
    padding: 0;
    overflow: hidden;
}


.box img {
    border-radius: 20px;
    width: 100%;
    height: 180px;
}

.box h3 {
    color: #373F41;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    padding: 15px 2px 5px 2px;
}

.box h2 {
    font-size: 18px;
    color: #111;
    font-family: var(--font);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 2px;
    line-height: 26px;
}

/* ///////////////////////////////////////////////////////// */

.ilova {
    width: 100%;
    padding: 0 70px;
    border-radius: 20px;
    background-color: #F7F7F7;
    display: flex;
    gap: 100px;
    margin: 5px 0 40px 0;
}

.left_ilova {
    padding: 0 0 20px 0;
}

.right_ilova {
    background-color: transparent;
}

.right_ilova h1 {
    color: #000;
    font-size: 38px;
    font-family: var(--font);
    margin: 60px 0 20px 0;
}

.right_ilova h2 {
    color: #000;
    font-size: 18px;
    font-family: var(--font);
    font-weight: 400;
    max-width: 430px;
    margin-bottom: 20px;
    line-height: 25px;
}

.qr_div {
    display: flex;
    align-items: center;
    gap: 30px;
}

.qr_div p {
    color: #000;
    font-size: 18px;
    font-family: var(--font);
    font-weight: 400;
    max-width: 200px;
    line-height: 25px;
}

.qr_div img {
    width: 112px;
}

.app_google {
    display: flex;
    align-items: center;
    gap: 30px;
}

.app_google img {
    width: 110px;
    margin: 20px 0 0 0;
    cursor: pointer;
}

/* ///////////////////////////////////////////// */

.maishiy {
    margin: 20px 0;
    width: 100%;
    padding: 20px 20px 10px 20px;
    border-radius: 20px;
    border: 1px solid #ececec;
    display: flex;
    justify-content: space-between;
}

.rows {
    align-items: center;
    width: 230px;
    text-align: center;
}

.rows img {
    background-color: #F7F7F7;
    padding: 10px;
    border-radius: 50%;
    margin: 10px 0;
    width: 65px;
}

.ustun {
    height: 200px;
    width: 1px;
    background-color: #ececec;
}

.rows h3 {
    font-size: 16px;
    color: #333;
    margin: 5px 0 7px 0;
    font-family: var(--font);
}

.rows p {
    margin-top: 10px;
    color: #444;
    font-weight: 400;
    font-size: 13px;
    font-family: var(--font);
    line-height: 18px;
    width: 100%;
}

.max_h1 {
    font-size: 24px;
    line-height: 32px;
    font-family: var(--font);
    padding: 30px 0 5px 0;
    text-align: center;
}

/* //////////////////////////// */

.kurilgan {
    width: 100%;
    margin-bottom: 50px;
}

.kurilgan h1 {
    padding: 25px 0 30px 0;
    margin-top: 50px;
    color: #333;
    font-size: 24px;
}

#card_item {
    width: 400px;
    border: 0px;
}

#card_item h3 {
    margin-top: 20px;
}